<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739319251387-s1tj22fpk5cihb9qfdm0dvnnr6umpnvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739319251387-s1tj22fpk5cihb9qfdm0dvnnr6umpnvh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739319251387-7335e0dpgfv1ldnfm6qm27724mu5706f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdEGWJMrE9STxyQzVBI3ygbTvKUbzZdDM</string>
	<key>GCM_SENDER_ID</key>
	<string>739319251387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpletouch.WadiDegla</string>
	<key>PROJECT_ID</key>
	<string>auntie-annes-61a5d</string>
	<key>STORAGE_BUCKET</key>
	<string>auntie-annes-61a5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:739319251387:ios:5d6a0f3f0e1a2f5a3a049e</string>
	<key>DATABASE_URL</key>
	<string>https://auntie-annes-61a5d.firebaseio.com</string>
</dict>
</plist>
